html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--qd-primary-light-9);
}

#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.el-header {
    padding: 0 !important;
}

:root {
    /* 主色调 */
    --qd-color-primary: #45465E;
    /* 文字 */
    --qd-color-primary-light-2: #5E5F7A;
    /* 未选中项文字 */
    --qd-color-primary-light-3: #787A94;
    /*  */
    --qd-color-primary-light-4: #9294AE;
    /*  */
    --qd-color-primary-light-5: #ACAFCA;
    /* 深色边框 */
    --qd-color-primary-light-6: #c2c5df;
    /* 浅色边框 */
    --qd-color-primary-light-7: #E0E3F6;
    /* 选中项深色背景 */
    --qd-color-primary-light-8: #e8ebf7;
    /* 选中项浅色背景 */
    --qd-color-primary-light-9: #F5F7FC;
    /* 背景色 */
    --qd-color-primary-light-10: #FAFBFF;

    /* 主色调深色系列 */
    --qd-color-primary-dark-2: #3A3B4E;
    --qd-color-primary-dark-3: #30313E;
    --qd-color-primary-dark-4: #26272E;
    --qd-color-primary-dark-5: #1C1D1E;
    --qd-color-primary-dark-6: #121314;
    --qd-color-primary-dark-7: #08090A;
    --qd-color-primary-dark-8: #040506;
    --qd-color-primary-dark-9: #020203;
    --qd-color-primary-dark-10: #000000;
}

/* 按钮样式 */
.el-button:hover {
    border: 1px solid var(--qd-color-primary-light-2) !important;
    background-color: var(--qd-color-primary-light-5) !important;
    color: var(--qd-color-primary-light-2) !important;
}

.el-button--primary {
    background-color: var(--qd-color-primary) !important;
    border: 1px solid var(--qd-color-primary-light-2) !important;
}

/* 标签样式 */
.el-tag--primary {
    --el-tag-bg-color: var(--qd-color-primary-light-8) !important;
    color: var(--qd-color-primary);
    border: none;
}

.el-tag:hover {
    --el-tag-bg-color: var(--qd-color-primary-light-8) !important;
    color: var(--qd-color-primary-light-2);
}

/* tabs样式 */
.el-tabs {
    border: none !important;
}

.el-tabs__nav-scroll {
    background-color: var(--qd-color-primary-light-10) !important;
}

.el-tabs__item {
    color: var(--qd-color-primary-light-2) !important;
    background-color: var(--qd-color-primary-light-8) !important;
}

.el-tabs__item.is-active {
    color: var(--qd-color-primary) !important;
    background-color: var(--qd-color-primary-light-6) !important;
}

.el-tabs__active-bar {
    background-color: var(--qd-color-primary) !important;
}

.el-tabs__item:hover {
    color: var(--qd-color-primary-light-2) !important;
}
.el-tabs__header {
    margin: 0 !important;
}
/* descriptions样式 */
.el-descriptions {
    --el-descriptions-item-bordered-label-background: var(--qd-color-primary-light-7) !important;
}

.el-descriptions__cell {
    border: none !important;
}

.el-descriptions__label {
    color: var(--qd-color-primary) !important;
}

.el-descriptions__content {
    background-color: var(--qd-color-primary-light-10) !important;
}

.el-descriptions__title {
    color: var(--qd-color-primary) !important;
}

/* menu样式 */
.el-menu {
    --el-menu-active-color: var(--qd-color-primary) !important;
    color: var(--qd-color-primary-light-2) !important;
}

.el-menu-item {
    color: var(--qd-color-primary-light-3) !important;
    background-color: var(--qd-color-primary-light-9);
    border-right: none;
}

.el-menu-item:hover {
    color: var(--qd-color-primary-light-2) !important;
}

.el-menu-item.is-active {
    color: var(--qd-color-primary) !important;
    background-color: var(--qd-color-primary-light-7) !important;
}

.el-menu-item:hover {
    background-color: var(--qd-color-primary-light-8) !important;
}

/* dialog样式 */
.el-dialog {
    background-color: var(--qd-color-primary-light-9) !important;
}

.el-dialog__close {
    color: var(--qd-color-primary-light-5) !important;
}

.el-dialog__close:hover {
    color: var(--qd-color-primary) !important;
}

/* timeline样式 */
.el-timeline-item__tail {
    border-color: var(--qd-color-primary-light-7) !important;
}

.el-timeline-item__node {
    background-color: var(--qd-color-primary-light-5) !important;
}

.el-timeline-item__timestamp {
    color: var(--qd-color-primary) !important;
}

/* statistic样式 */
.el-statistic__number {
    color: var(--qd-color-primary) !important;
}

.el-backtop {
    --el-backtop-text-color: var(--qd-color-primary) !important;
}

/* image-viewer样式 */
.el-image-viewer__close {
    background-color: var(--qd-color-primary) !important;
    color: var(--qd-color-primary-light-9) !important;
}

.el-image-viewer__close:hover {
    background-color: var(--qd-color-primary-light-2) !important;
}

.el-image-viewer__actions {
    background-color: var(--qd-color-primary) !important;
    color: var(--qd-color-primary-light-9) !important;
}

.el-image-viewer__actions:hover {
    background-color: var(--qd-color-primary-light-2) !important;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px var(--qd-color-primary) !important;
}

/* loading组件样式 */
.el-loading-spinner .el-loading-text {
    color: var(--qd-color-primary) !important;
    font-size: 14px;
}

.el-loading-spinner .path {
    stroke: var(--qd-color-primary) !important;
}

.el-loading-spinner .circular {
    color: var(--qd-color-primary) !important;
}

.el-loading-mask {
    background-color: rgba(0, 0, 0, 0.8) !important;
}