/* switch样式 */
.el-switch {
  --el-switch-on-color: var(--qd-color-primary);
  --el-switch-off-color: var(--qd-color-light-7);
}

.el-switch__label.is-active {
  color: var(--qd-color-primary) !important;
}

.el-switch__label {
  color: var(--qd-color-text-secondary) !important;
} 
 