@import './el/base.css';
@import './qingdai.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--qd-color-bg);
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

